@import '~font-awesome/css/font-awesome.css';

body {
    font: 86%/1.33 "Lucida Grande", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    padding: 0 1.5em;
}

.tabs > input[type="radio"] {
    display: none;
}

.tabs > label {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: .3em .3em 0 0;
    cursor: pointer;
    color: #090;
}

.tabs > :checked + label {
    background-color: #cfd;
    color: #000;
}

form {
    display: none;
}

#mit-tab:checked ~ #mit-form,
#csail-tab:checked ~ #csail-form {
    display: block;
}

form {
    background-color: #cfd;
    border-radius: .3em;
    padding: 1em;
}

#mit-form {
    border-top-left-radius: 0;
}

.control {
    margin: .25em 0;
    position: relative;
}

.control > label:first-child {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    width: 25%;
    box-sizing: border-box;
}

.control > input[type="text"],
.control > input[type="password"] {
    margin: 0.25em 0;
    padding: .5em .6em;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-shadow: inset 0 1px 3px #ddd;
    width: 74%;
    box-sizing: border-box;
}

.control > button[type="submit"] {
    margin: 0.25em 0;
    background-color: #0078e7;
    color: #fff;
    padding: .5em 2em;
    border: transparent;
    border-radius: .3em;
    cursor: pointer;
}

.control > button[type="submit"]:disabled {
    opacity: .4;
    cursor: not-allowed;
}

#mit-advanced {
    display: none;
}

#mit-advanced + .control > label[for="mit-advanced"] {
    cursor: pointer;
}

#mit-advanced:checked + .control .advanced-off,
#mit-advanced:not(:checked) + .control .advanced-on,
#mit-advanced:not(:checked) ~ .advanced-on {
    display: none;
}

form pre:not(:empty) {
    background-color: #efe;
    padding: .5em .6em;
    border-radius: .3em;
}

@media(max-width: 42em) {
    .control > label:first-child {
        display: block;
        text-align: left;
        width: 100%;
    }

    .control > input[type="text"],
    .control > input[type="password"] {
        width: 100%;
    }
}

.instructions span,
.instructions div {
    display: none;
    color: #060;
    margin-top: .5em;
}

.instructions input {
    display: none;
}

.instructions label {
    cursor: pointer;
    padding: .2em .5em;
    border-radius: .3em;
    color: #090;
}

.instructions :checked + label {
    background: #cfd;
    color: #000;
}

.instructions :checked + label .off,
.instructions :not(:checked) + label .on {
    display: none;
}

.instructions .platform {
    display: none;
}

#browser-chrome:checked ~ .platform-windows,
#browser-chrome:checked ~ .platform-mac,
#browser-chrome:checked ~ .platform-linux,
#browser-chrome:checked ~ .platform-android,
#browser-firefox:checked ~ .platform-windows,
#browser-firefox:checked ~ .platform-mac,
#browser-firefox:checked ~ .platform-linux {
    display: inline;
}

#browser-chrome:checked ~ #platform-windows:checked ~ .instructions-chrome-windows,
#browser-chrome:checked ~ #platform-mac:checked ~ .instructions-chrome-mac,
#browser-chrome:checked ~ #platform-linux:checked ~ .instructions-chrome-linux,
#browser-chrome:checked ~ #platform-android:checked ~ .instructions-chrome-android,
#browser-edge:checked ~ .instructions-edge,
#browser-firefox:checked ~ #platform-windows:checked ~ .instructions-firefox-windows,
#browser-firefox:checked ~ #platform-mac:checked ~ .instructions-firefox-mac,
#browser-firefox:checked ~ #platform-linux:checked ~ .instructions-firefox-linux,
#browser-safari:checked ~ .instructions-safari {
    display: block;
}

#howitworks:checked ~ #howitworks-text {
    display: block;
}

#footer {
    margin: 1.5em 0 0;
    border-top: 1px solid #090;
    padding: 0.5em 0 0;
}

#footer li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
}

#footer img, #footer i {
    vertical-align: middle;
}
