<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CertAssist</title>
  </head>
  <body>
    <h1>Get an MIT certificate</h1>

    <div class="tabs">
      <input id="mit-tab" type="radio" name="tabs" checked
      /><label for="mit-tab">MIT</label><input id="csail-tab"
      type="radio" name="tabs" /><label for="csail-tab">CSAIL</label>

      <form id="mit-form" action="javascript:">
        <div class="control">
          <label for="mit-login">Kerberos username:</label>
          <input type="text" id="mit-login">
        </div>
        <div class="control">
          <label for="mit-password">Kerberos password:</label>
          <input type="password" id="mit-password">
        </div>
        <div class="control">
          <label for="mit-id">MIT ID number:</label>
          <input type="text" id="mit-id">
        </div>
        <div class="control">
          <label for="mit-downloadpassword">Download password:</label>
          <input type="password" id="mit-downloadpassword">
        </div>
        <div class="control">
          <label></label>
          <button type="submit" id="mit-submit" disabled="disabled"><i class="fa fa-download"></i> Go</button>
        </div>
        <pre id="mit-status"></pre>
      </form>

      <form id="csail-form" action="javascript:">
        <div class="control">
          <label for="csail-login">CSAIL username:</label>
          <input type="text" id="csail-login">
        </div>
        <div class="control">
          <label for="csail-password">CSAIL password:</label>
          <input type="password" id="csail-password">
        </div>
        <div class="control">
          <label for="csail-downloadpassword">Download password:</label>
          <input type="password" id="csail-downloadpassword">
        </div>
        <div class="control">
          <label></label>
          <button type="submit" id="csail-submit" disabled="disabled"><i class="fa fa-download"></i> Go</button>
        </div>
        <pre id="csail-status"></pre>
      </form>
    </div>

    <p>Your new certificate will be saved as a PKCS #12 archive
      encrypted with your specified download password.  You can then
      import this *.p12 file into your favorite browser.</p>

    <p class="instructions"><strong>Browser instructions:</strong>
      <input type="radio" name="browser" value="chrome" id="browser-chrome">
      <label for="browser-chrome"><i class="fa fa-chrome"></i> Chrome</label>
      <input type="radio" name="browser" value="edge" id="browser-edge">
      <label for="browser-edge"><i class="fa fa-edge"></i> IE/Edge</label>
      <input type="radio" name="browser" value="firefox" id="browser-firefox">
      <label for="browser-firefox"><i class="fa fa-firefox"></i> Firefox</label>
      <input type="radio" name="browser" value="safari" id="browser-safari">
      <label for="browser-safari"><i class="fa fa-safari"></i> Safari</label>

      <strong class="platform platform-windows platform-linux platform-android">on</strong>
      <input type="radio" name="platform" value="windows" id="platform-windows">
      <label for="platform-windows" class="platform platform-windows"><i class="fa fa-windows"></i> Windows</label>
      <input type="radio" name="platform" value="mac" id="platform-mac">
      <label for="platform-mac" class="platform platform-mac"><i class="fa fa-apple"></i> Mac</label>
      <input type="radio" name="platform" value="linux" id="platform-linux">
      <label for="platform-linux" class="platform platform-linux"><i class="fa fa-linux"></i> Linux</label>
      <input type="radio" name="platform" value="android" id="platform-android">
      <label for="platform-android" class="platform platform-android"><i class="fa fa-android"></i> Android</label>

      <span class="instructions-chrome-windows instructions-edge">Open
        the downloaded *.p12 file, and follow the steps of the
        Certificate Import Wizard.</span>
      <span class="instructions-chrome-linux">Save the *.p12 file,
        then import it at Settings → Advanced → Manage certificates →
        Your Certificates → Import.</span>
      <span class="instructions-firefox-windows">Save the *.p12 file,
        then import it at Options → Advanced → Certificates → View
        Certificates → Your Certificates → Import.</span>
      <span class="instructions-firefox-mac
        instructions-firefox-linux">Save the *.p12 file, then import
        it at Preferences → Advanced → Certificates → View
        Certificates → Your Certificates → Import.</span>
      <span class="instructions-chrome-android">Open the downloaded
        *.p12 file, and follow the prompts to install your
        certificate.</span>
      <span class="instructions-chrome-mac instructions-safari">Open
        the downloaded *.p12 file, and follow the prompts to add your
        certificate to the login keychain.</span>
    </p>

    <div class="instructions">
      <strong>How does this work?</strong>
      <input type="checkbox" id="howitworks">
      <label for="howitworks">Details <i class="fa fa-caret-right off"></i><i class="fa fa-caret-down on"></i></label>
      <div id="howitworks-text">
        <p>This uses the CertAid API provided
          by <a href="https://ca.mit.edu/">ca.mit.edu</a>, and the
          SPKAC form provided
          by <a href="https://ca.csail.mit.edu:1443/">ca.csail.mit.edu</a>,
          to obtain certificates and let you to download and import
          them, even if your browser lacks &lt;keygen&gt; support.</p>

        <p>As a workaround for the absence of
          <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a>
          headers on these servers, CertAssist uses
          a <a href="https://github.com/digitalbazaar/forge#readme">JavaScript
          TLS library</a> to make an end-to-end encrypted and
          authenticated HTTPS connection to them.  The encrypted
          connection is relayed over a WebSocket proxy on this server
          that does not need to be trusted (but is itself encrypted
          anyway, because it might as well be).</p>

        <p>The downloaded certificate file is delivered from the client
          side
          using <a href="https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL">createObjectURL</a>,
          a <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs">data
            URL</a>,
          or <a href="https://msdn.microsoft.com/en-us/library/hh772332(v=vs.85).aspx">msSaveOrOpenBlob</a>,
          depending on browser support.</p>

        <p>This design ensures that your private information is only
          visible to your browser and ca.mit.edu or ca.csail.mit.edu,
          and is not exposed to this server.</p>
      </div>
    </div>

    <ul id="footer">
      <li><img src="<%- require('./sipb-fuzzball.png') %>" width="22"
        height="30" alt="SIPB fuzzball" /> CertAssist is provided
        by <a href="https://sipb.mit.edu/">SIPB</a>; it is not an
        official IS&amp;T or TIG service.</li>
      <li><i class="fa fa-2x
        fa-github"></i> <a href="https://github.com/sipb/certassist">Source
        code</a> on GitHub.</li>
    </ul>
  </body>
</html>
